<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

<!-- typeaheadjs -->
<!-- <link href="/css/typeahead.js-bootstrap.css" rel="stylesheet"> -->
<!-- <script src="/js/typeahead.js"></script>          -->
<!-- <script src="/js/typeaheadjs.js"></script>    -->

<!-- select2 --> 
<link href="/assets/select2/select2.css" rel="stylesheet">
<script src="/assets/select2/select2.js"></script>  

<!-- select2 bootstrap -->
<link href="/assets/select2/select2-bootstrap.css" rel="stylesheet">

<style type="text/css">

.match-icon{
	display: inline-block;
}

.match-team{
	display: inline-block;
	width: 25%;
}

.match-score{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	width: 15px;
	font-weight: bold;
	text-align: center;
}

.match-field{
	font-size: 13px;
	border: none !important;
	min-width: 30px;
}

.match-time{
	font-size: 13px;
	border: none !important;
	min-width: 30px;
}

.match-date{
	font-size: 13px;
	border: none !important;
	min-width: 30px;
}


.match-versus{
	display: inline-block;
	color: #666666;
}



</style>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">

			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">
						<a href="#" class="matches-name" data-title="Group Name" data-url="/groups">GROUP A</a>
						
						<div class="pull-right">
							<span class="pull-right glyphicon glyphicon-minus collapsible" data-toggle="collapse" data-target="#group-testeeeeee"></span>
						</div>
					</h3>
				</div>

				<div class="panel-body collapse in" id="group-testeeeeee">

					<div class="row">
						<div class="col-md-5 column">
							<div class="panel panel-info">
								<div class="panel-heading">Group Score</div>

								<table class="table table-striped table-bordered table-condensed">
									<thead>
										<th>Rank</th>
										<th>Team</th>
										<th>P</th>
										<th>S</th>
										<th>W</th>
										<th>D</th>
										<th>L</th>
										<th>Score</th>
								 	</thead>
								 	<tbody>
								 		<tr>
								 			<td>1</td>
								 			<td>Emerotecos</td>
								 			<td>0</td>
								 			<td>0:0</td>
								 			<td>0</td>
								 			<td>0</td>
								 			<td>0</td>
								 			<td>0</td>
								 		</tr>
								 		<tr>
								 			<td>1</td>
								 			<td>Fredrik's team</td>
								 			<td>0</td>
								 			<td>0:0</td>
								 			<td>0</td>
								 			<td>0</td>
								 			<td>0</td>
								 			<td>0</td>
								 		</tr>
								 	</tbody>
								</table>
							</div>
						</div>

						<div class="col-md-7 column">

							<div class="panel panel-info">
								<div class="panel-heading">
									Matches
									<div class="pull-right">
										<span class="label label-danger clear">DAY</span>
										<span class="label label-info clear">HOUR</span>
										<span class="label label-warning">FIELD</span>
									</div>
								</div>

								<ul class="list-group">
									<li class="list-group-item">
										<div class="match-icon"><span class="glyphicon glyphicon-time"></span></div>
										
										<div class="match-team text-right">Team Name 1</div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left">Team Emerotecos</div>

										<div class="pull-right">
											<span class="match-date label label-danger">24</span>
											<span class="match-time label label-info">12:00</span>
											<span class="match-field label label-warning">A</span>
										</div>
									</li>

									<li class="list-group-item">
										<div class="match-icon"><span class="glyphicon glyphicon-time"></span></div>
										
										<div class="match-team text-right">Team Name 1</div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left">Team Emerotecos</div>

										<div class="pull-right">
											<span class="match-date label label-danger">24</span>
											<span class="match-time label label-info">12:00</span>
											<span class="match-field label label-warning">A</span>
										</div>
									</li>

									<li class="list-group-item">
										<div class="match-icon"><span class="glyphicon glyphicon-time"></span></div>
										
										<div class="match-team text-right">Team Name 1</div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left">Team Emerotecos</div>

										<div class="pull-right">
											<span class="match-date label label-danger">24</span>
											<span class="match-time label label-info">12:00</span>
											<span class="match-field label label-warning">A</span>
										</div>
									</li>

									<li class="list-group-item">
										<div class="match-icon"><span class="glyphicon glyphicon-time"></span></div>
										
										<div class="match-team text-right">Team Name 1</div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left">Team Emerotecos</div>

										<div class="pull-right">
											<span class="match-date label label-danger">24</span>
											<span class="match-time label label-info">12:00</span>
											<span class="match-field label label-warning">A</span>
										</div>
									</li>

									<li class="list-group-item">
										<div class="match-icon"><span class="glyphicon glyphicon-time"></span></div>
										
										<div class="match-team text-right">Team Name 1</div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left">Team Emerotecos</div>

										<div class="pull-right">
											<span class="match-date label label-danger">24</span>
											<span class="match-time label label-info">12:00</span>
											<span class="match-field label label-warning">A</span>
										</div>
									</li>
								</ul>
							</div>

						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>



<script type="text/javascript">

// Configure Inline edition
$.fn.editable.defaults.mode = 'inline';
$.fn.editable.defaults.ajaxOptions = {type: "PUT"};

$(document).ready(function() {
});

$(document).ready(function() {


	// $('.collapsible').collapse({
	//   toggle: false
	// });
    $('.matches-name').editable({
    	mode: 'inline'
    });

    $('.match-score').editable({
    	mode: 'popup'
    });

    var countries = [];
    $.each({"BD": "Bangladesh", "BE": "Belgium", "BF": "Burkina Faso", "BG": "Bulgaria", "BA": "Bosnia and Herzegovina", "BB": "Barbados", "WF": "Wallis and Futuna", "BL": "Saint Bartelemey", "BM": "Bermuda", "BN": "Brunei Darussalam", "BO": "Bolivia", "BH": "Bahrain", "BI": "Burundi", "BJ": "Benin", "BT": "Bhutan", "JM": "Jamaica", "BV": "Bouvet Island", "BW": "Botswana", "WS": "Samoa", "BR": "Brazil", "BS": "Bahamas", "JE": "Jersey", "BY": "Belarus", "O1": "Other Country", "LV": "Latvia", "RW": "Rwanda", "RS": "Serbia", "TL": "Timor-Leste", "RE": "Reunion", "LU": "Luxembourg", "TJ": "Tajikistan", "RO": "Romania", "PG": "Papua New Guinea", "GW": "Guinea-Bissau", "GU": "Guam", "GT": "Guatemala", "GS": "South Georgia and the South Sandwich Islands", "GR": "Greece", "GQ": "Equatorial Guinea", "GP": "Guadeloupe", "JP": "Japan", "GY": "Guyana", "GG": "Guernsey", "GF": "French Guiana", "GE": "Georgia", "GD": "Grenada", "GB": "United Kingdom", "GA": "Gabon", "SV": "El Salvador", "GN": "Guinea", "GM": "Gambia", "GL": "Greenland", "GI": "Gibraltar", "GH": "Ghana", "OM": "Oman", "TN": "Tunisia", "JO": "Jordan", "HR": "Croatia", "HT": "Haiti", "HU": "Hungary", "HK": "Hong Kong", "HN": "Honduras", "HM": "Heard Island and McDonald Islands", "VE": "Venezuela", "PR": "Puerto Rico", "PS": "Palestinian Territory", "PW": "Palau", "PT": "Portugal", "SJ": "Svalbard and Jan Mayen", "PY": "Paraguay", "IQ": "Iraq", "PA": "Panama", "PF": "French Polynesia", "BZ": "Belize", "PE": "Peru", "PK": "Pakistan", "PH": "Philippines", "PN": "Pitcairn", "TM": "Turkmenistan", "PL": "Poland", "PM": "Saint Pierre and Miquelon", "ZM": "Zambia", "EH": "Western Sahara", "RU": "Russian Federation", "EE": "Estonia", "EG": "Egypt", "TK": "Tokelau", "ZA": "South Africa", "EC": "Ecuador", "IT": "Italy", "VN": "Vietnam", "SB": "Solomon Islands", "EU": "Europe", "ET": "Ethiopia", "SO": "Somalia", "ZW": "Zimbabwe", "SA": "Saudi Arabia", "ES": "Spain", "ER": "Eritrea", "ME": "Montenegro", "MD": "Moldova, Republic of", "MG": "Madagascar", "MF": "Saint Martin", "MA": "Morocco", "MC": "Monaco", "UZ": "Uzbekistan", "MM": "Myanmar", "ML": "Mali", "MO": "Macao", "MN": "Mongolia", "MH": "Marshall Islands", "MK": "Macedonia", "MU": "Mauritius", "MT": "Malta", "MW": "Malawi", "MV": "Maldives", "MQ": "Martinique", "MP": "Northern Mariana Islands", "MS": "Montserrat", "MR": "Mauritania", "IM": "Isle of Man", "UG": "Uganda", "TZ": "Tanzania, United Republic of", "MY": "Malaysia", "MX": "Mexico", "IL": "Israel", "FR": "France", "IO": "British Indian Ocean Territory", "FX": "France, Metropolitan", "SH": "Saint Helena", "FI": "Finland", "FJ": "Fiji", "FK": "Falkland Islands (Malvinas)", "FM": "Micronesia, Federated States of", "FO": "Faroe Islands", "NI": "Nicaragua", "NL": "Netherlands", "NO": "Norway", "NA": "Namibia", "VU": "Vanuatu", "NC": "New Caledonia", "NE": "Niger", "NF": "Norfolk Island", "NG": "Nigeria", "NZ": "New Zealand", "NP": "Nepal", "NR": "Nauru", "NU": "Niue", "CK": "Cook Islands", "CI": "Cote d'Ivoire", "CH": "Switzerland", "CO": "Colombia", "CN": "China", "CM": "Cameroon", "CL": "Chile", "CC": "Cocos (Keeling) Islands", "CA": "Canada", "CG": "Congo", "CF": "Central African Republic", "CD": "Congo, The Democratic Republic of the", "CZ": "Czech Republic", "CY": "Cyprus", "CX": "Christmas Island", "CR": "Costa Rica", "CV": "Cape Verde", "CU": "Cuba", "SZ": "Swaziland", "SY": "Syrian Arab Republic", "KG": "Kyrgyzstan", "KE": "Kenya", "SR": "Suriname", "KI": "Kiribati", "KH": "Cambodia", "KN": "Saint Kitts and Nevis", "KM": "Comoros", "ST": "Sao Tome and Principe", "SK": "Slovakia", "KR": "Korea, Republic of", "SI": "Slovenia", "KP": "Korea, Democratic People's Republic of", "KW": "Kuwait", "SN": "Senegal", "SM": "San Marino", "SL": "Sierra Leone", "SC": "Seychelles", "KZ": "Kazakhstan", "KY": "Cayman Islands", "SG": "Singapore", "SE": "Sweden", "SD": "Sudan", "DO": "Dominican Republic", "DM": "Dominica", "DJ": "Djibouti", "DK": "Denmark", "VG": "Virgin Islands, British", "DE": "Germany", "YE": "Yemen", "DZ": "Algeria", "US": "United States", "UY": "Uruguay", "YT": "Mayotte", "UM": "United States Minor Outlying Islands", "LB": "Lebanon", "LC": "Saint Lucia", "LA": "Lao People's Democratic Republic", "TV": "Tuvalu", "TW": "Taiwan", "TT": "Trinidad and Tobago", "TR": "Turkey", "LK": "Sri Lanka", "LI": "Liechtenstein", "A1": "Anonymous Proxy", "TO": "Tonga", "LT": "Lithuania", "A2": "Satellite Provider", "LR": "Liberia", "LS": "Lesotho", "TH": "Thailand", "TF": "French Southern Territories", "TG": "Togo", "TD": "Chad", "TC": "Turks and Caicos Islands", "LY": "Libyan Arab Jamahiriya", "VA": "Holy See (Vatican City State)", "VC": "Saint Vincent and the Grenadines", "AE": "United Arab Emirates", "AD": "Andorra", "AG": "Antigua and Barbuda", "AF": "Afghanistan", "AI": "Anguilla", "VI": "Virgin Islands, U.S.", "IS": "Iceland", "IR": "Iran, Islamic Republic of", "AM": "Armenia", "AL": "Albania", "AO": "Angola", "AN": "Netherlands Antilles", "AQ": "Antarctica", "AP": "Asia/Pacific Region", "AS": "American Samoa", "AR": "Argentina", "AU": "Australia", "AT": "Austria", "AW": "Aruba", "IN": "India", "AX": "Aland Islands", "AZ": "Azerbaijan", "IE": "Ireland", "ID": "Indonesia", "UA": "Ukraine", "QA": "Qatar", "MZ": "Mozambique"}, function(k, v) {
        countries.push({id: k, text: v});
    }); 

    $('.match-team').editable({
        type: 'select2',
    	mode: 'popup',
        value: 'BR',
        source: countries,
        select2: {
            width: 200,
            placeholder: 'Select country',
            allowClear: true
        }
    });

    $('.match-field').editable({
    	mode: 'popup',
    	emptytext: '&nbsp',
    	placement: 'left'
    });

    $('.match-time').editable({
    	mode: 'popup',
    	placement: 'top',
    });

    $('.match-date').editable({
    	mode: 'popup',
    	placement: 'top',
    });

});



</script>