<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

<!-- typeaheadjs -->
<!-- <link href="/css/typeahead.js-bootstrap.css" rel="stylesheet"> -->
<!-- <script src="/js/typeahead.js"></script>          -->
<!-- <script src="/js/typeaheadjs.js"></script>    -->

<!-- select2 --> 
<link href="/css/select2.css" rel="stylesheet">
<script src="/js/select2.js"></script>  

<!-- select2 bootstrap -->
<link href="/css/select2-bootstrap.css" rel="stylesheet">

<style type="text/css">

.match-icon{
	display: inline-block;
}

.match-team{
	display: inline-block;
	width: 25%;
}

.match-score{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	width: 15px;
	font-weight: bold;
	text-align: center;
}

.match-field{
	font-size: 15px;
	border: none !important;
	min-width: 30px;
}

.match-versus{
	display: inline-block;
	color: #666666;
}



</style>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">

			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">
						<a href="#" class="matches-name" data-title="Group Name" data-url="/groups">superuse</a>
						
						<span class="pull-right glyphicon glyphicon-minus collapsible" data-toggle="collapse" data-target="#group-testeeeeee"></span>
					</h3>
				</div>

				<div class="panel-body collapse in" id="group-testeeeeee">

					<div class="row">
						<div class="col-md-6 column">
							<div class="panel panel-info">
								<div class="panel-heading">Group Score</div>

								<table class="table table-striped table-bordered">
									<thead>
										<th>Rank</th>
										<th>Team</th>
										<th>P</th>
										<th>S</th>
										<th>W</th>
										<th>D</th>
										<th>L</th>
										<th>Score</th>
								 	</thead>
								 	<tbody>
								 		<tr>
								 			<td>1</td>
								 			<td>Emerotecos</td>
								 			<td>0</td>
								 			<td>0:0</td>
								 			<td>0</td>
								 			<td>0</td>
								 			<td>0</td>
								 			<td>0</td>
								 		</tr>
								 		<tr>
								 			<td>1</td>
								 			<td>Fredrik's team</td>
								 			<td>0</td>
								 			<td>0:0</td>
								 			<td>0</td>
								 			<td>0</td>
								 			<td>0</td>
								 			<td>0</td>
								 		</tr>
								 	</tbody>
								</table>
							</div>
						</div>

						<div class="col-md-6 column">

							<div class="panel panel-info">
								<div class="panel-heading">Matches</div>

								<ul class="list-group">
									<li class="list-group-item">
										<div class="match-icon"><span class="glyphicon glyphicon-time"></span></div>
										
										<div class="match-team text-right">Team Name 1</div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left">Team Emerotecos</div>

										<span class="match-field label label-warning pull-right">A</span>
									</li>

									<li class="list-group-item">
										<div class="match-icon"><span class="glyphicon glyphicon-time"></span></div>
										
										<div class="match-team text-right">Team Name 1</div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left">Team Emerotecos</div>

										<span class="match-field label label-warning pull-right">A</span>
									</li>

									<li class="list-group-item">
										<div class="match-icon"><span class="glyphicon glyphicon-time"></span></div>
										
										<div class="match-team text-right">Team Name 1</div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left">Team Emerotecos</div>

										<span class="match-field label label-warning pull-right">A</span>
									</li>

									<li class="list-group-item">
										<div class="match-icon"><span class="glyphicon glyphicon-time"></span></div>
										
										<div class="match-team text-right">Team Name 1</div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left">Team Emerotecos</div>

										<span class="match-field label label-warning pull-right">A</span>
									</li>

									<li class="list-group-item">
										<div class="match-icon"><span class="glyphicon glyphicon-time"></span></div>
										
										<div class="match-team text-right">Team Name 1</div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left">Team Emerotecos</div>

										<div class="match-field label label-warning pull-right">A</div>
									</li>
								</ul>
							</div>

						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>



<script type="text/javascript">

// Configure Inline edition
$.fn.editable.defaults.mode = 'inline';
$.fn.editable.defaults.ajaxOptions = {type: "PUT"};

$(document).ready(function() {
});

$(document).ready(function() {


	// $('.collapsible').collapse({
	//   toggle: false
	// });
    $('.matches-name').editable({
    	mode: 'inline'
    });

    $('.match-score').editable({
    	mode: 'popup'
    });

    $('.match-field').editable({
    	mode: 'popup',
    	emptytext: '&nbsp',
    	placement: 'left'
    });

    $('.match-team').editable({
    	type: 'typeaheadjs',
    	mode: 'popup',
        value: 'ru',
        typeahead: {
            name: 'country',
            local: [
                {value: 'ru', tokens: ['Russia']}, 
                {value: 'gb', tokens: ['Great Britain']}, 
                {value: 'us', tokens: ['United States']}
            ],
            template: function(item) {
                return item.tokens[0] + ' (' + item.value + ')'; 
            } 
        }
    });

});



</script>