<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

<!-- typeaheadjs -->
<!-- <link href="/css/typeahead.js-bootstrap.css" rel="stylesheet"> -->
<!-- <script src="/js/typeahead.js"></script>          -->
<!-- <script src="/js/typeaheadjs.js"></script>    -->

<!-- select2 --> 
<link href="/assets/select2/select2.css" rel="stylesheet">
<script src="/assets/select2/select2.js"></script>  

<!-- select2 bootstrap -->
<link href="/assets/select2/select2-bootstrap.css" rel="stylesheet">

<style type="text/css">

.match-icon{
	display: inline-block;
}

.match-team{
	display: inline-block;
	width: 21%;
	font-size: 12px;
}

.match-score{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	width: 15px;
	font-weight: bold;
	text-align: center;
}

.match-labels input{
	max-width: 70px !important;
	height: 25px;
}

.match-field{
	font-size: 13px;
	border: none !important;
	min-width: 30px;
}

.match-time{
	font-size: 13px;
	border: none !important;
	min-width: 30px;
}

.match-date{
	font-size: 13px;
	border: none !important;
	min-width: 30px;
}


.match-versus{
	display: inline-block;
	color: #666666;
}



</style>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">

			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">
						<a href="#" class="matches-name" data-title="Group Name" data-url="/groups">GROUP A</a>
						
						<div class="pull-right">
							<span class="pull-right glyphicon glyphicon-minus collapsible" data-toggle="collapse" data-target="#group-testeeeeee"></span>
						</div>
					</h3>
				</div>

				<div class="panel-body collapse in" id="group-testeeeeee">

					<div class="row">
						<div class="col-md-5 column">
							<div class="panel panel-info">
								<div class="panel-heading">Group Score</div>

								<table class="table table-striped table-bordered table-condensed">
									<thead>
										<th>Rank</th>
										<th>Team</th>
										<th>P</th>
										<th>S</th>
										<th>W</th>
										<th>D</th>
										<th>L</th>
										<th>Score</th>
								 	</thead>
								 	<tbody>
								 		<tr>
								 			<td>1</td>
								 			<td>Emerotecos</td>
								 			<td>0</td>
								 			<td>0:0</td>
								 			<td>0</td>
								 			<td>0</td>
								 			<td>0</td>
								 			<td>0</td>
								 		</tr>
								 		<tr>
								 			<td>1</td>
								 			<td>Fredrik's team</td>
								 			<td>0</td>
								 			<td>0:0</td>
								 			<td>0</td>
								 			<td>0</td>
								 			<td>0</td>
								 			<td>0</td>
								 		</tr>
								 	</tbody>
								</table>
							</div>
						</div>

						<div class="col-md-7 column">

							<div class="panel panel-info">
								<div class="panel-heading">
									Matches
									<div class="pull-right">
										<span class="label label-danger clear">DAY</span>
										<span class="label label-info clear">HOUR</span>
										<span class="label label-warning">FIELD</span>
									</div>
								</div>

								<div class="list-group">
									<div class="list-group-item">
										<!-- <div class="match-icon"><span class="glyphicon glyphicon-time"></span></div> -->
										
										<div class="match-team text-right"></div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left"></div>

										<div class="match-labels pull-right">
											<div class="match-date label label-danger">24</div>
											<div class="match-time label label-info">12:00</div>
											<div class="match-field label label-warning">A</div>
										</div>
									</div>

									<div class="list-group-item">
										<!-- <div class="match-icon"><span class="glyphicon glyphicon-time"></span></div> -->
										
										<div class="match-team text-right"></div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left"></div>

										<div class="match-labels pull-right">
											<div class="match-date label label-danger">24</div>
											<div class="match-time label label-info">12:00</div>
											<div class="match-field label label-warning">A</div>
										</div>
									</div>

									<div class="list-group-item">
										<!-- <div class="match-icon"><span class="glyphicon glyphicon-time"></span></div> -->
										
										<div class="match-team text-right"></div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left"></div>

										<div class="match-labels pull-right">
											<div class="match-date label label-danger">24</div>
											<div class="match-time label label-info">12:00</div>
											<div class="match-field label label-warning">A</div>
										</div>
									</div>

									<div class="list-group-item">
										<!-- <div class="match-icon"><span class="glyphicon glyphicon-time"></span></div> -->
										
										<div class="match-team text-right"></div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left"></div>

										<div class="match-labels pull-right">
											<div class="match-date label label-danger">24</div>
											<div class="match-time label label-info">12:00</div>
											<div class="match-field label label-warning">A</div>
										</div>
									</div>

									<div class="list-group-item">
										<!-- <div class="match-icon"><span class="glyphicon glyphicon-time"></span></div> -->
										
										<div class="match-team text-right"></div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left"></div>

										<div class="match-labels pull-right">
											<div class="match-date label label-danger">24</div>
											<div class="match-time label label-info">12:00</div>
											<div class="match-field label label-warning">A</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>


<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">

			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">
						<a href="#" class="matches-name" data-title="Group Name" data-url="/groups">GROUP A</a>
						
						<div class="pull-right">
							<span class="pull-right glyphicon glyphicon-minus collapsible" data-toggle="collapse" data-target="#group-testeeeeee"></span>
						</div>
					</h3>
				</div>

				<div class="panel-body collapse in" id="group-testeeeeee">

					<div class="row">
						<div class="col-md-5 column">
							<div class="panel panel-info">
								<div class="panel-heading">Group Score</div>

								<table class="table table-striped table-bordered table-condensed">
									<thead>
										<th>Rank</th>
										<th>Team</th>
										<th>P</th>
										<th>S</th>
										<th>W</th>
										<th>D</th>
										<th>L</th>
										<th>Score</th>
								 	</thead>
								 	<tbody>
								 		<tr>
								 			<td>1</td>
								 			<td>Emerotecos</td>
								 			<td>0</td>
								 			<td>0:0</td>
								 			<td>0</td>
								 			<td>0</td>
								 			<td>0</td>
								 			<td>0</td>
								 		</tr>
								 		<tr>
								 			<td>1</td>
								 			<td>Fredrik's team</td>
								 			<td>0</td>
								 			<td>0:0</td>
								 			<td>0</td>
								 			<td>0</td>
								 			<td>0</td>
								 			<td>0</td>
								 		</tr>
								 	</tbody>
								</table>
							</div>
						</div>

						<div class="col-md-7 column">

							<div class="panel panel-info">
								<div class="panel-heading">
									Matches
									<div class="pull-right">
										<span class="label label-danger clear">DAY</span>
										<span class="label label-info clear">HOUR</span>
										<span class="label label-warning">FIELD</span>
									</div>
								</div>

								<div class="list-group">
									<div class="list-group-item">
										<!-- <div class="match-icon"><span class="glyphicon glyphicon-time"></span></div> -->
										
										<div class="match-team text-right"></div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left"></div>

										<div class="match-labels pull-right">
											<div class="match-date label label-danger">24</div>
											<div class="match-time label label-info">12:00</div>
											<div class="match-field label label-warning">A</div>
										</div>
									</div>

									<div class="list-group-item">
										<!-- <div class="match-icon"><span class="glyphicon glyphicon-time"></span></div> -->
										
										<div class="match-team text-right"></div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left"></div>

										<div class="match-labels pull-right">
											<div class="match-date label label-danger">24</div>
											<div class="match-time label label-info">12:00</div>
											<div class="match-field label label-warning">A</div>
										</div>
									</div>

									<div class="list-group-item">
										<!-- <div class="match-icon"><span class="glyphicon glyphicon-time"></span></div> -->
										
										<div class="match-team text-right"></div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left"></div>

										<div class="match-labels pull-right">
											<div class="match-date label label-danger">24</div>
											<div class="match-time label label-info">12:00</div>
											<div class="match-field label label-warning">A</div>
										</div>
									</div>

									<div class="list-group-item">
										<!-- <div class="match-icon"><span class="glyphicon glyphicon-time"></span></div> -->
										
										<div class="match-team text-right"></div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left"></div>

										<div class="match-labels pull-right">
											<div class="match-date label label-danger">24</div>
											<div class="match-time label label-info">12:00</div>
											<div class="match-field label label-warning">A</div>
										</div>
									</div>

									<div class="list-group-item">
										<!-- <div class="match-icon"><span class="glyphicon glyphicon-time"></span></div> -->
										
										<div class="match-team text-right"></div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left"></div>

										<div class="match-labels pull-right">
											<div class="match-date label label-danger">24</div>
											<div class="match-time label label-info">12:00</div>
											<div class="match-field label label-warning">A</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>


<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">

			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">
						<a href="#" class="matches-name" data-title="Group Name" data-url="/groups">GROUP A</a>
						
						<div class="pull-right">
							<span class="pull-right glyphicon glyphicon-minus collapsible" data-toggle="collapse" data-target="#group-testeeeeee"></span>
						</div>
					</h3>
				</div>

				<div class="panel-body collapse in" id="group-testeeeeee">

					<div class="row">
						<div class="col-md-5 column">
							<div class="panel panel-info">
								<div class="panel-heading">Group Score</div>

								<table class="table table-striped table-bordered table-condensed">
									<thead>
										<th>Rank</th>
										<th>Team</th>
										<th>P</th>
										<th>S</th>
										<th>W</th>
										<th>D</th>
										<th>L</th>
										<th>Score</th>
								 	</thead>
								 	<tbody>
								 		<tr>
								 			<td>1</td>
								 			<td>Emerotecos</td>
								 			<td>0</td>
								 			<td>0:0</td>
								 			<td>0</td>
								 			<td>0</td>
								 			<td>0</td>
								 			<td>0</td>
								 		</tr>
								 		<tr>
								 			<td>1</td>
								 			<td>Fredrik's team</td>
								 			<td>0</td>
								 			<td>0:0</td>
								 			<td>0</td>
								 			<td>0</td>
								 			<td>0</td>
								 			<td>0</td>
								 		</tr>
								 	</tbody>
								</table>
							</div>
						</div>

						<div class="col-md-7 column">

							<div class="panel panel-info">
								<div class="panel-heading">
									Matches
									<div class="pull-right">
										<span class="label label-danger clear">DAY</span>
										<span class="label label-info clear">HOUR</span>
										<span class="label label-warning">FIELD</span>
									</div>
								</div>

								<div class="list-group">
									<div class="list-group-item">
										<!-- <div class="match-icon"><span class="glyphicon glyphicon-time"></span></div> -->
										
										<div class="match-team text-right"></div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left"></div>

										<div class="match-labels pull-right">
											<div class="match-date label label-danger">24</div>
											<div class="match-time label label-info">12:00</div>
											<div class="match-field label label-warning">A</div>
										</div>
									</div>

									<div class="list-group-item">
										<!-- <div class="match-icon"><span class="glyphicon glyphicon-time"></span></div> -->
										
										<div class="match-team text-right"></div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left"></div>

										<div class="match-labels pull-right">
											<div class="match-date label label-danger">24</div>
											<div class="match-time label label-info">12:00</div>
											<div class="match-field label label-warning">A</div>
										</div>
									</div>

									<div class="list-group-item">
										<!-- <div class="match-icon"><span class="glyphicon glyphicon-time"></span></div> -->
										
										<div class="match-team text-right"></div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left"></div>

										<div class="match-labels pull-right">
											<div class="match-date label label-danger">24</div>
											<div class="match-time label label-info">12:00</div>
											<div class="match-field label label-warning">A</div>
										</div>
									</div>

									<div class="list-group-item">
										<!-- <div class="match-icon"><span class="glyphicon glyphicon-time"></span></div> -->
										
										<div class="match-team text-right"></div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left"></div>

										<div class="match-labels pull-right">
											<div class="match-date label label-danger">24</div>
											<div class="match-time label label-info">12:00</div>
											<div class="match-field label label-warning">A</div>
										</div>
									</div>

									<div class="list-group-item">
										<!-- <div class="match-icon"><span class="glyphicon glyphicon-time"></span></div> -->
										
										<div class="match-team text-right"></div>
										<div class="match-score text-center">18</div>
										
										<div class="match-versus text-center">x</div>
										
										<div class="match-score text-center">1</div>
										<div class="match-team text-left"></div>

										<div class="match-labels pull-right">
											<div class="match-date label label-danger">24</div>
											<div class="match-time label label-info">12:00</div>
											<div class="match-field label label-warning">A</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>



<script type="text/javascript">

// Configure Inline edition
$.fn.editable.defaults.mode = 'inline';
$.fn.editable.defaults.ajaxOptions = {type: "PUT"};

$(document).ready(function() {
});

$(document).ready(function() {


	// $('.collapsible').collapse({
	//   toggle: false
	// });
    $('.matches-name').editable({
    	mode: 'inline'
    });

    $('.match-score').editable({
    	mode: 'popup'
    });

    $('.match-team').editable({
        type: 'select2',
    	mode: 'popup',
        source: '/groups/teamlist',
        value: false,
        select2: {
            width: 200,
            placeholder: 'Select country',
            allowClear: true,
        }
    });

    $('.match-field').editable({
    	// mode: 'popup',
    	emptytext: '&nbsp',
    	// placement: 'left'
    	showbuttons: false 
    });

    $('.match-time').editable({
    	// mode: 'popup',
    	// placement: 'top',
    	showbuttons: false 
    });

    $('.match-date').editable({
    	// mode: 'popup',
    	// placement: 'top',
    	showbuttons: false 
    });

});



</script>